In [116]:
import pandas as pd
import re

In [117]:
dpe_existant = pd.read_csv("dpe03existant.csv", low_memory=False)
dpe_neuf = pd.read_csv("dpe02neuf.csv", low_memory=False)
enedis = pd.read_csv("consommation-annuelle-residentielle-par-adresse_geocoded.csv", 
                     sep=";", 
                     low_memory=False)

In [118]:
print("DPE existant:", dpe_existant.shape)
print("DPE neuf:", dpe_neuf.shape)
print("ENEDIS :", enedis.shape)

dpe_existant.head()
dpe_neuf.head()
enedis.head()

DPE existant: (5203, 216)
DPE neuf: (394, 196)
ENEDIS : (10878, 37)

,Année,Code IRIS,Nom IRIS,Numéro de voie,Indice de répétition,Type de voie,Libellé de voie,Code Commune,Nom Commune,Segment de client,...,result_name,result_street,result_postcode,result_city,result_context,result_citycode,result_oldcitycode,result_oldcity,result_district,result_status
0,2024,915330000,Saclas (commune non irisée),15,NaN,RUE,JOLIOT CURIE,91533,Saclas,RESIDENTIEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not-found
1,2024,915340000,Saclay (commune non irisée),8,NaN,RUE,MARE LA VILLE,91534,Saclay,RESIDENTIEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not-found
2,2024,914820000,Pecqueuse (commune non irisée),2,NaN,RUE,DE PREDECELLE,91482,Pecqueuse,RESIDENTIEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not-found
3,2024,915210110,Le Moulin à Vent 1,4,NaN,AVENUE,AUGUSTE PLAT,91521,Ris-Orangis,RESIDENTIEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not-found
4,2024,915210106,Centre 2,3,NaN,RUE,D AQUITAINE,91521,Ris-Orangis,RESIDENTIEL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,not-found

In [119]:
print("Colonnes DPE :")
print(dpe_existant.columns)

print("\nColonnes ENEDIS :")
print(enedis.columns)

Colonnes DPE :
Index(['numero_dpe', 'date_visite_diagnostiqueur', 'date_etablissement_dpe',
       'numero_dpe_remplace', 'numero_dpe_immeuble_associe', 'id_rnb',
       'provenance_id_rnb', 'numero_rpls_logement',
       'numero_immatriculation_copropriete', 'etiquette_dpe',
       ...
       'description_generateur_froid', 'surface_climatisee',
       'conso_refroidissement_annuel', 'categorie_enr',
       'systeme_production_electricite_origine_renouvelable',
       'presence_production_pv', 'surface_totale_capteurs_pv', 'nombre_module',
       'production_electricite_pv_kwhep_par_an',
       'electricite_pv_autoconsommee'],
      dtype='object', length=216)

Colonnes ENEDIS :
Index(['Année', 'Code IRIS', 'Nom IRIS', 'Numéro de voie',
       'Indice de répétition', 'Type de voie', 'Libellé de voie',
       'Code Commune', 'Nom Commune', 'Segment de client',
       'Nombre de logements',
       'Consommation annuelle totale de l'adresse (MWh)',
       'Consommation annuelle moyenne par logement de l'adresse (MWh)',
       'Consommation annuelle moyenne de la commune (MWh)', 'Adresse',
       'Code EPCI', 'Code Département', 'Code Région', 'Tri des adresses',
       'longitude', 'latitude', 'result_score', 'result_score_next',
       'result_label', 'result_type', 'result_id', 'result_housenumber',
       'result_name', 'result_street', 'result_postcode', 'result_city',
       'result_context', 'result_citycode', 'result_oldcitycode',
       'result_oldcity', 'result_district', 'result_status'],
      dtype='object')

In [120]:
dpe_total = pd.concat([dpe_existant, dpe_neuf], axis=0, ignore_index=True)

# Vérifier le résultat
print(dpe_total.shape)
dpe_total.head()

(5597, 220)

,numero_dpe,date_visite_diagnostiqueur,date_etablissement_dpe,numero_dpe_remplace,numero_dpe_immeuble_associe,id_rnb,provenance_id_rnb,numero_rpls_logement,numero_immatriculation_copropriete,etiquette_dpe,...,systeme_production_electricite_origine_renouvelable,presence_production_pv,surface_totale_capteurs_pv,nombre_module,production_electricite_pv_kwhep_par_an,electricite_pv_autoconsommee,deperditions_totales_batiment,deperditions_totales_logement,Conso_ecs_ef_energie_n2,nombre_logements_desservis_par_installation_ecs_n1
0,2291E1491331L,2022-06-26,2022-06-27,NaN,NaN,NaN,NaN,NaN,NaN,D,...,Solaire Photovoltaïque,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,2291E1491221F,2022-06-26,2022-06-27,NaN,NaN,NaN,NaN,NaN,NaN,D,...,Solaire Photovoltaïque,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,2291E0739195D,2022-04-06,2022-04-06,NaN,NaN,NaN,NaN,NaN,NaN,D,...,Solaire Photovoltaïque,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,2291E1290731B,2022-05-08,2022-06-08,NaN,NaN,NaN,NaN,NaN,NaN,C,...,Solaire Photovoltaïque,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,2291E1491327H,2022-06-26,2022-06-27,NaN,NaN,NaN,NaN,NaN,NaN,D,...,Solaire Photovoltaïque,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [121]:
dpe_existant.columns = dpe_existant.columns.str.strip().str.lower().str.replace(' ', '_')
enedis.columns = enedis.columns.str.strip().str.lower().str.replace(' ', '_')
enedis.columns = enedis.columns.str.replace('é','e').str.replace('è','e').str.replace('à','a')

In [122]:
print("Colonnes DPE :")
print(dpe_existant.columns)

print("\nColonnes ENEDIS :")
print(enedis.columns)

Colonnes DPE :
Index(['numero_dpe', 'date_visite_diagnostiqueur', 'date_etablissement_dpe',
       'numero_dpe_remplace', 'numero_dpe_immeuble_associe', 'id_rnb',
       'provenance_id_rnb', 'numero_rpls_logement',
       'numero_immatriculation_copropriete', 'etiquette_dpe',
       ...
       'description_generateur_froid', 'surface_climatisee',
       'conso_refroidissement_annuel', 'categorie_enr',
       'systeme_production_electricite_origine_renouvelable',
       'presence_production_pv', 'surface_totale_capteurs_pv', 'nombre_module',
       'production_electricite_pv_kwhep_par_an',
       'electricite_pv_autoconsommee'],
      dtype='object', length=216)

Colonnes ENEDIS :
Index(['annee', 'code_iris', 'nom_iris', 'numero_de_voie',
       'indice_de_repetition', 'type_de_voie', 'libelle_de_voie',
       'code_commune', 'nom_commune', 'segment_de_client',
       'nombre_de_logements',
       'consommation_annuelle_totale_de_l'adresse_(mwh)',
       'consommation_annuelle_moyenne_par_logement_de_l'adresse_(mwh)',
       'consommation_annuelle_moyenne_de_la_commune_(mwh)', 'adresse',
       'code_epci', 'code_departement', 'code_region', 'tri_des_adresses',
       'longitude', 'latitude', 'result_score', 'result_score_next',
       'result_label', 'result_type', 'result_id', 'result_housenumber',
       'result_name', 'result_street', 'result_postcode', 'result_city',
       'result_context', 'result_citycode', 'result_oldcitycode',
       'result_oldcity', 'result_district', 'result_status'],
      dtype='object')

In [123]:
dpe_existant['identifiant_ban'] = dpe_existant['identifiant_ban'].astype(str)
enedis['result_id'] = enedis['result_id'].astype(str)

In [124]:
merged = pd.merge(
    dpe_existant,
    enedis,
    left_on='identifiant_ban',
    right_on='result_id',
    how='left'  # garder tous les DPE, même si pas de correspondance Enedis
)

print(merged.shape)
merged.head()

(5298, 253)

,numero_dpe,date_visite_diagnostiqueur,date_etablissement_dpe,numero_dpe_remplace,numero_dpe_immeuble_associe,id_rnb,provenance_id_rnb,numero_rpls_logement,numero_immatriculation_copropriete,etiquette_dpe,...,result_name,result_street,result_postcode,result_city,result_context,result_citycode,result_oldcitycode,result_oldcity,result_district,result_status
0,2291E1491331L,2022-06-26,2022-06-27,NaN,NaN,NaN,NaN,NaN,NaN,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2291E1491221F,2022-06-26,2022-06-27,NaN,NaN,NaN,NaN,NaN,NaN,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2291E0739195D,2022-04-06,2022-04-06,NaN,NaN,NaN,NaN,NaN,NaN,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2291E1290731B,2022-05-08,2022-06-08,NaN,NaN,NaN,NaN,NaN,NaN,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2291E1491327H,2022-06-26,2022-06-27,NaN,NaN,NaN,NaN,NaN,NaN,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
total_dpe = merged.shape[0]
nb_matched = merged['result_id'].notna().sum()  # lignes avec correspondance
nb_unmatched = merged['result_id'].isna().sum()  # lignes sans correspondance

taux_correspondance = nb_matched / total_dpe * 100

print(f"Total DPE : {total_dpe}")
print(f"Correspondances trouvées : {nb_matched}")
print(f"Pas de correspondance : {nb_unmatched}")
print(f"Taux de correspondance : {taux_correspondance:.2f}%")

Total DPE : 5298
Correspondances trouvées : 2679
Pas de correspondance : 2619
Taux de correspondance : 50.57%

c'est normal que le taux de correspondance soit si faible car il n'y a que les batiments existants et qui possède un DPE alors que pour Enedi c'est l'ensemble des batiments qui possèdent plus de 10 logements.

In [126]:
merged['identifiant_ban'] = merged['identifiant_ban'].astype(str).str.strip()
merged['result_id'] = merged['result_id'].astype(str).str.strip()

In [127]:
merged.head()

,numero_dpe,date_visite_diagnostiqueur,date_etablissement_dpe,numero_dpe_remplace,numero_dpe_immeuble_associe,id_rnb,provenance_id_rnb,numero_rpls_logement,numero_immatriculation_copropriete,etiquette_dpe,...,result_name,result_street,result_postcode,result_city,result_context,result_citycode,result_oldcitycode,result_oldcity,result_district,result_status
0,2291E1491331L,2022-06-26,2022-06-27,NaN,NaN,NaN,NaN,NaN,NaN,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2291E1491221F,2022-06-26,2022-06-27,NaN,NaN,NaN,NaN,NaN,NaN,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2291E0739195D,2022-04-06,2022-04-06,NaN,NaN,NaN,NaN,NaN,NaN,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2291E1290731B,2022-05-08,2022-06-08,NaN,NaN,NaN,NaN,NaN,NaN,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2291E1491327H,2022-06-26,2022-06-27,NaN,NaN,NaN,NaN,NaN,NaN,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
counts = enedis_filtre['result_id'].value_counts()
print(counts)

result_id
nan             1657
91216_0903        13
91174_4514        10
91687_4370        10
91272_2077         8
91477_halqyx       8
91570_0778         7
91215_0850         7
91687_2870         7
91345_0750         7
Name: count, dtype: int64

In [129]:
# Colonnes d'adresse à afficher
colonnes_adresse = [
    'result_id', 'numero_de_voie', 'indice_de_repetition', 'type_de_voie', 'libelle_de_voie',
    'code_commune', 'nom_commune', 'adresse', 'result_housenumber', 'result_name',
    'result_street', 'result_postcode', 'result_city'
]

# Filtrer le DataFrame sur les 10 result_id les plus fréquents
ids_a_afficher = enedis['result_id'].value_counts().sort_values(ascending=False).head(10).index
enedis_filtre = enedis[enedis['result_id'].isin(ids_a_afficher)]

# GroupBy result_id pour inspection
grouped = enedis_filtre[colonnes_adresse].groupby('result_id')

# Afficher chaque groupement
for rid, group in grouped:
    print(f"--- result_id: {rid} ---")
    print(group)
    print("\n")

--- result_id: 91174_4514 ---
       result_id  numero_de_voie indice_de_repetition type_de_voie  \
731   91174_4514              53                  NaN       AVENUE
732   91174_4514              49                  NaN       AVENUE
2114  91174_4514              61                  NaN       AVENUE
2912  91174_4514              53                    B       AVENUE
7094  91174_4514              59                  NaN       AVENUE
9023  91174_4514              57                  NaN       AVENUE
9024  91174_4514              55                  NaN       AVENUE
9025  91174_4514              47                  NaN       AVENUE
9026  91174_4514              51                    B       AVENUE
9684  91174_4514              51                  NaN       AVENUE

     libelle_de_voie  code_commune       nom_commune  \
731   SERGE DASSAULT         91174  Corbeil-Essonnes
732   SERGE DASSAULT         91174  Corbeil-Essonnes
2114  SERGE DASSAULT         91174  Corbeil-Essonnes
2912  SERGE DASSAULT         91174  Corbeil-Essonnes
7094  SERGE DASSAULT         91174  Corbeil-Essonnes
9023  SERGE DASSAULT         91174  Corbeil-Essonnes
9024  SERGE DASSAULT         91174  Corbeil-Essonnes
9025  SERGE DASSAULT         91174  Corbeil-Essonnes
9026  SERGE DASSAULT         91174  Corbeil-Essonnes
9684  SERGE DASSAULT         91174  Corbeil-Essonnes

                         adresse  result_housenumber            result_name  \
731     53 AVENUE SERGE DASSAULT                 NaN  Avenue Serge Dassault
732     49 AVENUE SERGE DASSAULT                 NaN  Avenue Serge Dassault
2114    61 AVENUE SERGE DASSAULT                 NaN  Avenue Serge Dassault
2912  53 B AVENUE SERGE DASSAULT                 NaN  Avenue Serge Dassault
7094    59 AVENUE SERGE DASSAULT                 NaN  Avenue Serge Dassault
9023    57 AVENUE SERGE DASSAULT                 NaN  Avenue Serge Dassault
9024    55 AVENUE SERGE DASSAULT                 NaN  Avenue Serge Dassault
9025    47 AVENUE SERGE DASSAULT                 NaN  Avenue Serge Dassault
9026  51 B AVENUE SERGE DASSAULT                 NaN  Avenue Serge Dassault
9684    51 AVENUE SERGE DASSAULT                 NaN  Avenue Serge Dassault

              result_street  result_postcode       result_city
731   Avenue Serge Dassault          91100.0  Corbeil-Essonnes
732   Avenue Serge Dassault          91100.0  Corbeil-Essonnes
2114  Avenue Serge Dassault          91100.0  Corbeil-Essonnes
2912  Avenue Serge Dassault          91100.0  Corbeil-Essonnes
7094  Avenue Serge Dassault          91100.0  Corbeil-Essonnes
9023  Avenue Serge Dassault          91100.0  Corbeil-Essonnes
9024  Avenue Serge Dassault          91100.0  Corbeil-Essonnes
9025  Avenue Serge Dassault          91100.0  Corbeil-Essonnes
9026  Avenue Serge Dassault          91100.0  Corbeil-Essonnes
9684  Avenue Serge Dassault          91100.0  Corbeil-Essonnes


--- result_id: 91215_0850 ---
       result_id  numero_de_voie indice_de_repetition type_de_voie  \
1244  91215_0850               5                  NaN        VILLA
3442  91215_0850               4                  NaN        VILLA
5288  91215_0850               2                  NaN        VILLA
6557  91215_0850               7                  NaN        VILLA
6558  91215_0850               6                  NaN        VILLA
6559  91215_0850               3                  NaN        VILLA
6560  91215_0850               1                  NaN        VILLA

     libelle_de_voie  code_commune         nom_commune            adresse  \
1244       OFFENBACH         91215  Épinay-sous-Sénart  5 VILLA OFFENBACH
3442       OFFENBACH         91215  Épinay-sous-Sénart  4 VILLA OFFENBACH
5288       OFFENBACH         91215  Épinay-sous-Sénart  2 VILLA OFFENBACH
6557       OFFENBACH         91215  Épinay-sous-Sénart  7 VILLA OFFENBACH
6558       OFFENBACH         91215  Épinay-sous-Sénart  6 VILLA OFFENBACH
6559       OFFENBACH         91215  Épinay-sous-Sénart  3 VILLA OFFENBACH
6560       OFFENBACH         91215  Épinay-sous-Sénart  1 VILLA OFFENBACH

      result_housenumber      result_name    result_street  result_postcode  \
1244                 NaN  Villa Offenbach  Villa Offenbach          91860.0
3442                 NaN  Villa Offenbach  Villa Offenbach          91860.0
5288                 NaN  Villa Offenbach  Villa Offenbach          91860.0
6557                 NaN  Villa Offenbach  Villa Offenbach          91860.0
6558                 NaN  Villa Offenbach  Villa Offenbach          91860.0
6559                 NaN  Villa Offenbach  Villa Offenbach          91860.0
6560                 NaN  Villa Offenbach  Villa Offenbach          91860.0

             result_city
1244  Épinay-sous-Sénart
3442  Épinay-sous-Sénart
5288  Épinay-sous-Sénart
6557  Épinay-sous-Sénart
6558  Épinay-sous-Sénart
6559  Épinay-sous-Sénart
6560  Épinay-sous-Sénart


--- result_id: 91216_0903 ---
        result_id  numero_de_voie indice_de_repetition type_de_voie  \
3459   91216_0903              78                  NaN          NaN
3460   91216_0903              46                  NaN          NaN
5295   91216_0903              86                  NaN          NaN
5299   91216_0903              39                    B          NaN
6571   91216_0903              68                  NaN          NaN
7837   91216_0903              64                  NaN          NaN
8825   91216_0903              39                  NaN          NaN
8826   91216_0903              31                  NaN          NaN
10730  91216_0903              82                  NaN          NaN
10731  91216_0903              50                  NaN          NaN
10732  91216_0903              42                  NaN          NaN
10733  91216_0903              40                  NaN          NaN
10734  91216_0903              33                  NaN          NaN

      libelle_de_voie  code_commune      nom_commune          adresse  \
3459       GRANDE RUE         91216  Épinay-sur-Orge    78 GRANDE RUE
3460       GRANDE RUE         91216  Épinay-sur-Orge    46 GRANDE RUE
5295       GRANDE RUE         91216  Épinay-sur-Orge    86 GRANDE RUE
5299       GRANDE RUE         91216  Épinay-sur-Orge  39 B GRANDE RUE
6571       GRANDE RUE         91216  Épinay-sur-Orge    68 GRANDE RUE
7837       GRANDE RUE         91216  Épinay-sur-Orge    64 GRANDE RUE
8825       GRANDE RUE         91216  Épinay-sur-Orge    39 GRANDE RUE
8826       GRANDE RUE         91216  Épinay-sur-Orge    31 GRANDE RUE
10730      GRANDE RUE         91216  Épinay-sur-Orge    82 GRANDE RUE
10731      GRANDE RUE         91216  Épinay-sur-Orge    50 GRANDE RUE
10732      GRANDE RUE         91216  Épinay-sur-Orge    42 GRANDE RUE
10733      GRANDE RUE         91216  Épinay-sur-Orge    40 GRANDE RUE
10734      GRANDE RUE         91216  Épinay-sur-Orge    33 GRANDE RUE

       result_housenumber             result_name           result_street  \
3459                  NaN  Rue des Hauts Graviers  Rue des Hauts Graviers
3460                  NaN  Rue des Hauts Graviers  Rue des Hauts Graviers
5295                  NaN  Rue des Hauts Graviers  Rue des Hauts Graviers
5299                  NaN  Rue des Hauts Graviers  Rue des Hauts Graviers
6571                  NaN  Rue des Hauts Graviers  Rue des Hauts Graviers
7837                  NaN  Rue des Hauts Graviers  Rue des Hauts Graviers
8825                  NaN  Rue des Hauts Graviers  Rue des Hauts Graviers
8826                  NaN  Rue des Hauts Graviers  Rue des Hauts Graviers
10730                 NaN  Rue des Hauts Graviers  Rue des Hauts Graviers
10731                 NaN  Rue des Hauts Graviers  Rue des Hauts Graviers
10732                 NaN  Rue des Hauts Graviers  Rue des Hauts Graviers
10733                 NaN  Rue des Hauts Graviers  Rue des Hauts Graviers
10734                 NaN  Rue des Hauts Graviers  Rue des Hauts Graviers

       result_postcode      result_city
3459           91360.0  Épinay-sur-Orge
3460           91360.0  Épinay-sur-Orge
5295           91360.0  Épinay-sur-Orge
5299           91360.0  Épinay-sur-Orge
6571           91360.0  Épinay-sur-Orge
7837           91360.0  Épinay-sur-Orge
8825           91360.0  Épinay-sur-Orge
8826           91360.0  Épinay-sur-Orge
10730          91360.0  Épinay-sur-Orge
10731          91360.0  Épinay-sur-Orge
10732          91360.0  Épinay-sur-Orge
10733          91360.0  Épinay-sur-Orge
10734          91360.0  Épinay-sur-Orge


--- result_id: 91272_2077 ---
       result_id  numero_de_voie indice_de_repetition type_de_voie  \
238   91272_2077               6                  NaN         MAIL
239   91272_2077              19                  NaN         MAIL
2155  91272_2077              37                  NaN         MAIL
4598  91272_2077              35                  NaN         MAIL
5877  91272_2077              20                  NaN         MAIL
5878  91272_2077              12                  NaN         MAIL
9362  91272_2077              47                  NaN         MAIL
9765  91272_2077              21                  NaN         MAIL

     libelle_de_voie  code_commune     nom_commune                adresse  \
238    PIERRE POTIER         91272  Gif-sur-Yvette   6 MAIL PIERRE POTIER
239    PIERRE POTIER         91272  Gif-sur-Yvette  19 MAIL PIERRE POTIER
2155   PIERRE POTIER         91272  Gif-sur-Yvette  37 MAIL PIERRE POTIER
4598   PIERRE POTIER         91272  Gif-sur-Yvette  35 MAIL PIERRE POTIER
5877   PIERRE POTIER         91272  Gif-sur-Yvette  20 MAIL PIERRE POTIER
5878   PIERRE POTIER         91272  Gif-sur-Yvette  12 MAIL PIERRE POTIER
9362   PIERRE POTIER         91272  Gif-sur-Yvette  47 MAIL PIERRE POTIER
9765   PIERRE POTIER         91272  Gif-sur-Yvette  21 MAIL PIERRE POTIER

      result_housenumber         result_name       result_street  \
238                  NaN  Mail Pierre Potier  Mail Pierre Potier
239                  NaN  Mail Pierre Potier  Mail Pierre Potier
2155                 NaN  Mail Pierre Potier  Mail Pierre Potier
4598                 NaN  Mail Pierre Potier  Mail Pierre Potier
5877                 NaN  Mail Pierre Potier  Mail Pierre Potier
5878                 NaN  Mail Pierre Potier  Mail Pierre Potier
9362                 NaN  Mail Pierre Potier  Mail Pierre Potier
9765                 NaN  Mail Pierre Potier  Mail Pierre Potier

      result_postcode     result_city
238           91190.0  Gif-sur-Yvette
239           91190.0  Gif-sur-Yvette
2155          91190.0  Gif-sur-Yvette
4598          91190.0  Gif-sur-Yvette
5877          91190.0  Gif-sur-Yvette
5878          91190.0  Gif-sur-Yvette
9362          91190.0  Gif-sur-Yvette
9765          91190.0  Gif-sur-Yvette


--- result_id: 91345_0750 ---
        result_id  numero_de_voie indice_de_repetition type_de_voie  \
3246   91345_0750              28                  NaN          RUE
4502   91345_0750              22                  NaN          RUE
4503   91345_0750              20                  NaN          RUE
6477   91345_0750              32                  NaN          RUE
6478   91345_0750              26                  NaN          RUE
7263   91345_0750              30                  NaN          RUE
10020  91345_0750              24                  NaN          RUE

      libelle_de_voie  code_commune nom_commune               adresse  \
3246    GEORGES BIZET         91345  Longjumeau  28 RUE GEORGES BIZET
4502    GEORGES BIZET         91345  Longjumeau  22 RUE GEORGES BIZET
4503    GEORGES BIZET         91345  Longjumeau  20 RUE GEORGES BIZET
6477    GEORGES BIZET         91345  Longjumeau  32 RUE GEORGES BIZET
6478    GEORGES BIZET         91345  Longjumeau  26 RUE GEORGES BIZET
7263    GEORGES BIZET         91345  Longjumeau  30 RUE GEORGES BIZET
10020   GEORGES BIZET         91345  Longjumeau  24 RUE GEORGES BIZET

       result_housenumber        result_name      result_street  \
3246                  NaN  Rue Georges Bizet  Rue Georges Bizet
4502                  NaN  Rue Georges Bizet  Rue Georges Bizet
4503                  NaN  Rue Georges Bizet  Rue Georges Bizet
6477                  NaN  Rue Georges Bizet  Rue Georges Bizet
6478                  NaN  Rue Georges Bizet  Rue Georges Bizet
7263                  NaN  Rue Georges Bizet  Rue Georges Bizet
10020                 NaN  Rue Georges Bizet  Rue Georges Bizet

       result_postcode result_city
3246           91160.0  Longjumeau
4502           91160.0  Longjumeau
4503           91160.0  Longjumeau
6477           91160.0  Longjumeau
6478           91160.0  Longjumeau
7263           91160.0  Longjumeau
10020          91160.0  Longjumeau


--- result_id: 91477_halqyx ---
          result_id  numero_de_voie indice_de_repetition type_de_voie  \
541    91477_halqyx              15                  NaN          RES
2697   91477_halqyx              16                  NaN          RES
2698   91477_halqyx              14                  NaN          RES
2699   91477_halqyx              13                  NaN          RES
2700   91477_halqyx              12                  NaN          RES
8740   91477_halqyx              11                  NaN          RES
10612  91477_halqyx              18                  NaN          RES
10613  91477_halqyx              17                  NaN          RES

                  libelle_de_voie  code_commune nom_commune  \
541    DU PARC DE L EFFORT MUTUEL         91477   Palaiseau
2697   DU PARC DE L EFFORT MUTUEL         91477   Palaiseau
2698   DU PARC DE L EFFORT MUTUEL         91477   Palaiseau
2699   DU PARC DE L EFFORT MUTUEL         91477   Palaiseau
2700   DU PARC DE L EFFORT MUTUEL         91477   Palaiseau
8740   DU PARC DE L EFFORT MUTUEL         91477   Palaiseau
10612  DU PARC DE L EFFORT MUTUEL         91477   Palaiseau
10613  DU PARC DE L EFFORT MUTUEL         91477   Palaiseau

                                 adresse  result_housenumber  \
541    15 RES DU PARC DE L EFFORT MUTUEL                 NaN
2697   16 RES DU PARC DE L EFFORT MUTUEL                 NaN
2698   14 RES DU PARC DE L EFFORT MUTUEL                 NaN
2699   13 RES DU PARC DE L EFFORT MUTUEL                 NaN
2700   12 RES DU PARC DE L EFFORT MUTUEL                 NaN
8740   11 RES DU PARC DE L EFFORT MUTUEL                 NaN
10612  18 RES DU PARC DE L EFFORT MUTUEL                 NaN
10613  17 RES DU PARC DE L EFFORT MUTUEL                 NaN

                          result_name                   result_street  \
541    Res du Parc de l’Effort Mutuel  Res du Parc de l’Effort Mutuel
2697   Res du Parc de l’Effort Mutuel  Res du Parc de l’Effort Mutuel
2698   Res du Parc de l’Effort Mutuel  Res du Parc de l’Effort Mutuel
2699   Res du Parc de l’Effort Mutuel  Res du Parc de l’Effort Mutuel
2700   Res du Parc de l’Effort Mutuel  Res du Parc de l’Effort Mutuel
8740   Res du Parc de l’Effort Mutuel  Res du Parc de l’Effort Mutuel
10612  Res du Parc de l’Effort Mutuel  Res du Parc de l’Effort Mutuel
10613  Res du Parc de l’Effort Mutuel  Res du Parc de l’Effort Mutuel

       result_postcode result_city
541            91120.0   Palaiseau
2697           91120.0   Palaiseau
2698           91120.0   Palaiseau
2699           91120.0   Palaiseau
2700           91120.0   Palaiseau
8740           91120.0   Palaiseau
10612          91120.0   Palaiseau
10613          91120.0   Palaiseau


--- result_id: 91570_0778 ---
       result_id  numero_de_voie indice_de_repetition type_de_voie  \
1010  91570_0778              25                  NaN         MAIL
1011  91570_0778              15                  NaN         MAIL
1757  91570_0778              23                  NaN         MAIL
1758  91570_0778              21                  NaN         MAIL
1759  91570_0778              13                  NaN         MAIL
3755  91570_0778              19                  NaN         MAIL
4826  91570_0778               1                  NaN         MAIL

     libelle_de_voie  code_commune            nom_commune           adresse  \
1010        GAMBETTA         91570  Saint-Michel-sur-Orge  25 MAIL GAMBETTA
1011        GAMBETTA         91570  Saint-Michel-sur-Orge  15 MAIL GAMBETTA
1757        GAMBETTA         91570  Saint-Michel-sur-Orge  23 MAIL GAMBETTA
1758        GAMBETTA         91570  Saint-Michel-sur-Orge  21 MAIL GAMBETTA
1759        GAMBETTA         91570  Saint-Michel-sur-Orge  13 MAIL GAMBETTA
3755        GAMBETTA         91570  Saint-Michel-sur-Orge  19 MAIL GAMBETTA
4826        GAMBETTA         91570  Saint-Michel-sur-Orge   1 MAIL GAMBETTA

      result_housenumber    result_name  result_street  result_postcode  \
1010                 NaN  Mail Gambetta  Mail Gambetta          91240.0
1011                 NaN  Mail Gambetta  Mail Gambetta          91240.0
1757                 NaN  Mail Gambetta  Mail Gambetta          91240.0
1758                 NaN  Mail Gambetta  Mail Gambetta          91240.0
1759                 NaN  Mail Gambetta  Mail Gambetta          91240.0
3755                 NaN  Mail Gambetta  Mail Gambetta          91240.0
4826                 NaN  Mail Gambetta  Mail Gambetta          91240.0

                result_city
1010  Saint-Michel-sur-Orge
1011  Saint-Michel-sur-Orge
1757  Saint-Michel-sur-Orge
1758  Saint-Michel-sur-Orge
1759  Saint-Michel-sur-Orge
3755  Saint-Michel-sur-Orge
4826  Saint-Michel-sur-Orge


--- result_id: 91687_2870 ---
        result_id  numero_de_voie indice_de_repetition type_de_voie  \
1896   91687_2870              37                  NaN     QUARTIER
1897   91687_2870              33                  NaN     QUARTIER
3305   91687_2870              36                  NaN     QUARTIER
4786   91687_2870              23                  NaN     QUARTIER
6185   91687_2870              35                  NaN     QUARTIER
7745   91687_2870              25                  NaN     QUARTIER
10279  91687_2870              34                  NaN     QUARTIER

      libelle_de_voie  code_commune     nom_commune                  adresse  \
1896      DU MERIDIEN         91687  Viry-Châtillon  37 QUARTIER DU MERIDIEN
1897      DU MERIDIEN         91687  Viry-Châtillon  33 QUARTIER DU MERIDIEN
3305      DU MERIDIEN         91687  Viry-Châtillon  36 QUARTIER DU MERIDIEN
4786      DU MERIDIEN         91687  Viry-Châtillon  23 QUARTIER DU MERIDIEN
6185      DU MERIDIEN         91687  Viry-Châtillon  35 QUARTIER DU MERIDIEN
7745      DU MERIDIEN         91687  Viry-Châtillon  25 QUARTIER DU MERIDIEN
10279     DU MERIDIEN         91687  Viry-Châtillon  34 QUARTIER DU MERIDIEN

       result_housenumber           result_name         result_street  \
1896                  NaN  Quartier du Meridien  Quartier du Meridien
1897                  NaN  Quartier du Meridien  Quartier du Meridien
3305                  NaN  Quartier du Meridien  Quartier du Meridien
4786                  NaN  Quartier du Meridien  Quartier du Meridien
6185                  NaN  Quartier du Meridien  Quartier du Meridien
7745                  NaN  Quartier du Meridien  Quartier du Meridien
10279                 NaN  Quartier du Meridien  Quartier du Meridien

       result_postcode     result_city
1896           91170.0  Viry-Châtillon
1897           91170.0  Viry-Châtillon
3305           91170.0  Viry-Châtillon
4786           91170.0  Viry-Châtillon
6185           91170.0  Viry-Châtillon
7745           91170.0  Viry-Châtillon
10279          91170.0  Viry-Châtillon


--- result_id: 91687_4370 ---
        result_id  numero_de_voie indice_de_repetition type_de_voie  \
1046   91687_4370             154                  NaN         VOIE
3282   91687_4370             142                  NaN         VOIE
4760   91687_4370             148                  NaN         VOIE
4761   91687_4370             144                  NaN         VOIE
7723   91687_4370             160                  NaN         VOIE
7724   91687_4370             158                  NaN         VOIE
8495   91687_4370             156                  NaN         VOIE

### Problème n°1 : Doublons dans le dataset Enedis géocodé avec la BAN

Dans le dataset Enedis après géocodage avec la Base Adresse Nationale (BAN), certains `result_id` correspondent à plusieurs lignes avec des adresses légèrement différentes (numéro de voie, indice de répétition, etc.).

**Choix actuel :**  
Pour la fusion avec le dataset DPE, nous **conservons toutes les occurrences** de ces `result_id` via un **left join**.

**Conséquence :**  
Cela explique pourquoi le nombre de lignes après fusion est supérieur au nombre initial de lignes dans le dataset DPE : certains DPE correspondent à plusieurs lignes Enedis.

In [135]:
# Récupérer la liste des colonnes
colonnes_merge = merged.columns.tolist()

# Écrire dans un fichier texte, une colonne par ligne
with open('colonnes_merge.txt', 'w', encoding='utf-8') as f:
    for col in colonnes_merge:
        f.write(f"{col}\n")

In [ ]:
print(merged.shape)
merged.isna().sum()

(5298, 253)

numero_dpe                        0
date_visite_diagnostiqueur        0
date_etablissement_dpe            0
numero_dpe_remplace            4538
numero_dpe_immeuble_associe    5298
                               ...
result_citycode                2619
result_oldcitycode             5028
result_oldcity                 5028
result_district                5298
result_status                  2619
Length: 253, dtype: int64

In [139]:
print("Avant suppression :", merged.shape)

# Calculer le pourcentage de valeurs manquantes par colonne
taux_na = merged.isna().mean()  # fraction de NaN par colonne

# Sélectionner les colonnes à garder (moins de 90% de NaN)
colonnes_a_garder = taux_na[taux_na <= 0.9].index

# Filtrer le DataFrame
merged_clean = merged[colonnes_a_garder]

# Afficher la forme après suppression
print("Après suppression :", merged_clean.shape)

Avant suppression : (5298, 253)
Après suppression : (5298, 188)

In [140]:
merged_clean.to_csv("dpe_enedis_merged_clean.csv", index=False)